*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
body{
    background: #3a506b;
}
header{
    width: 1920px;
    height: 90px;
    background-color:#0b132b;
    background-position: left bottom;
}
.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
    height: 100px;
}
.logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li{
    transform: scale(1.1)
}
.navegacion ul li a{
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color:#00c9bd;
    transform: scale(1.1);
}
.container{
    display: grid;
    grid-template-columns: repeat(8,1fr) ;
    grid-template-rows: 200px 200px 200px 200px;
}
.nombre{
    color: #ffffff;
    font-size: 150px;
    padding: 200px;
    height: 150px;
    width: 500px;
    text-transform: uppercase;
    transition: .3s linear;
}
.nombre:hover{
    color:#00c9bd;
    transform: skew(-5deg, -10deg) scale(1.1);
}
/*Sobre_mi*/
.yo{
    padding: 300px 200px;
    height: 250px;
    color: #ffffff;
    position: absolute;
    font-size: 30px;
}
.parent{
    padding: 350px 200px 50px 50px;
}
.imagen{
    position: absolute;
    border: 5px inset;
    width: 300px;
    height: 200px;
}
/*proyectos*/

.proyects{
    color: aqua;
    font-size: 80px;
}
.boxs{
    display: flex;
    flex-direction:row;
    /*row,column,row-reverse,column-reverse*/
    height: 300px;
    justify-content: space-around;
    /* flex-wrap: nowrap; wrap, */
    align-items: flex-start;
    /*center,flex-start,flex-end */
}
.box1{
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.box2{
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.box3{
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}


